
	*{
		padding: 0;
		margin: 0;
	}
	#container{margin-top: 10vh;
			height: 100vh;
			width: 99vw;
			border: 5px #ACE0FC solid;
			background:linear-gradient(to right top,#F9DEA9,#fff,#F9DEA9,#CAF7F4,#F9DEA9);
			font-size: 16px;

			/*backdrop-filter: blur(50px);*/
		} 	
	#main{
	height: 200px;
	width: 99vw;
	border: 5px pink solid;
	/*-webkit-filter:blur(1px);   背景虚化*/
	/*background: url("images/study-group.jpg") top right no-repeat,url("images/personality.jpg") top left no-repeat;*/
	backdrop-filter:10px;
	background-size: 300px 500px;}

    #title{
		/*border: 5px black solid;*/
    	margin-top: 50px;
    	font-size: 40px;text-align: center;}
    #title p{font-family: "华文行楷";}
    #title p span{ color:#0099FF;font-size: 80px;
    	font-weight: bold;
    	font-family: "华文彩云";} 


	#content{height: 600px;
		width: 99vw;
		border:5px purple solid; }
	#content div img{
		width: 280px;
		height: 500px; 
		border-radius: 30px;
	}
		
	#header{top: 0;
		position: fixed;
		padding-bottom: 0.99rem;
		height: 70px;width:99vw;background:rgb(253,255,255,0.8);
		z-index: 999;
		  border: 5px yellow solid;  }
	#header img{display: block;
		float: left;	
		width: 70px;height: 70px;
		margin: 0px 10px 20px 40px;}
	#header h2{
		display: block;
		float: left;	
		position: relative;
		top: 20px;
		left: 10px;
	}
 
	#pic1{display: block;
		float: left;
		width: 200px;
		height: 400px;
		border:5px red solid; 
		margin-left: 50px; 
		position: relative;
		bottom: 100px;
		}
	#pic2{	display: block;
		float: left;	
		width: 200px;
		height: 400px;border:5px red solid;
		margin-left: 200px; }
	#pic3{display: block;
		float: left;
		width: 200px;
		height: 400px;border:5px red solid; 
		margin-left: 280px;}
	#pic4{display: block;
		float: left;
		width: 200px;
		height: 400px;border:5px red solid; 
		margin-left: 200px;
		position: relative;
		bottom: 100px;}
	
	#content div img{width: 280px;
		height: 500px; 
		border-radius: 30px;
		filter: drop-shadow(20px 20px 8px rgba(0,0,0,.5));}
	#pic1 img{width: 280px;
		height: 500px; 
		border-radius: 30px;
		filter: drop-shadow(20px 20px 8px rgba(0,0,0,.5));}
	#nav{ height:80px; width:1000px; position: right top;
		border: 5px red solid;}	
	#nav{float:right;}
	#nav a{text-decoration:none;}
	#nav li{list-style-type:none;}
    #nav li a{float:right;}  
  	#nav li a{display:block; padding:0 10px; width: 90px;height:40px; line-height:40px; color:#000000; font-size:16px;
  		margin-top: 10px;text-align: center;}
    #nav li a:hover{color:#000000;background: #66D9EF;border-radius: 8px;	
    }




	#container2{
			height: 110vh;
			width: 100vw;
			border: 5px #ACE0FC solid;
			background:linear-gradient( to right ,#fff,#F9DEA9,#B3F8F5,#fff);
			background-size:100%; 
			font-size: 16px;

			/*backdrop-filter: blur(50px);*/
		} 	

	#main2{
	height: 200px;
	width: 99vw;
	border: 5px pink solid;
	/*-webkit-filter:blur(1px);   背景虚化*/
	/*background: url("images/study-group.jpg") top right no-repeat,url("images/personality.jpg") top left no-repeat;*/
	backdrop-filter:10px;
	background-size: 300px 500px;
	position: relative;
	top: 70px;
}
	#main2 h1{	position: relative;
		left: 1vw;
		font-size: 55px;
		text-align: center;
		}
	#main2 h2{

		font-size: 55px;
		text-align: center;
		}
	#main2 h1 span{

		color: #0099FF;text-align: center;}
	#main2 p{
		font-size: 20px;
		color:#A5A5A5;text-align: center;}
	.h1{position: relative;
		right: 52px;}
    #title2{
		/*border: 5px black solid;*/
    	margin-top: 50px;
    	font-size: 40px;text-align: center;}


	#content2{
		margin-top: 50px;
		height: 400px;
		width:100vw;
		border:5px purple solid; }


	#content2 img{

		top: 40px;
		left: 18vw;
		margin:0 80px; 
		display: block;
		float: left;
		width: 220px;
		height: 400px; 
		border: 1px #8B8B8B solid;
		border-radius: 20px;
		filter: drop-shadow(20px 20px 8px rgba(0,0,0,0.2));	
		transform:rotate(25deg) skew(-30deg);
		/*transform:rotate3d(,1,0,60deg) skew(-20deg);*/
	}
	#content3{
		margin-top: 0px;
		height: 10vh;
		width:100vw;
		border:5px green solid; }
	#content3	img{
		position: relative;
		bottom: 14vh;
		margin:0 80px; 
		display: block;
		float: left;
		width: 220px;
		height: 400px; 
		border: 1px #8B8B8B solid;
		border-radius: 20px;
		filter: drop-shadow(20px 20px 8px rgba(0,0,0,0.3));	
		transform:rotate(25deg) skew(-30deg);
		/*transform:rotate3d(,1,0,60deg) skew(-20deg);*/
	}

	#left1{
		width: 100px;
		height: 100px;
		border: 1px red solid;
	position: relative;
	bottom:50vh;
	right: 22vw;
	}
	#left2{
	position: relative;
	bottom:42vh;
	right: 5000vw;
	}
	/*#content div img{
		width: 280px;
		height: 500px;
		border-radius: 30px;
	}*/
		


	#container3{
			height: 110vh;
			width: 100vw;
			border: 5px #ACE0FC solid;
			background:linear-gradient( to right bottom,#fff,#F9D9C4,#F9DEA9,#B3F8F5);
			background-size:100%; 
			font-size: 16px;

			/*backdrop-filter: blur(50px);*/
		} 	
	#temp1{
	float: left;
	height: 20.1vh;
	width: 100vw;
	background:linear-gradient( to right bottom,#fff,#EFE2B5,#C9F0DD,#FCEBE0,#FADBC7,#F9D9C4);
	position: relative;
	bottom: 20.1vh;
	}
	/*#temp2{
	height: 20vh;
	float: right;
	width: 50vw;
	background:linear-gradient( to right bottom,#C9F0DD,#F1E1C0,#F9D9C4);
	position: relative;
	bottom: 12.9vh;
	}*/
	#main4{
		background:linear-gradient( to right bottom,#fff,#FBE4D5);
		position: relative;
		bottom: 20vh;
	margin-top: 20vh;	
	height: 25vh;
	width: 99vw;
	border: 5px pink solid;
	/*-webkit-filter:blur(1px);   背景虚化*/
	/*background: url("images/study-group.jpg") top right no-repeat,url("images/personality.jpg") top left no-repeat;*/
	backdrop-filter:10px;
	background-size: 300px 500px;
}
	#main4 h1{
		height: 10vh;
		line-height: 18vh;
		font-size: 55px;
		text-align: center;}
	#main4 h1 span{text-align: center;

		color: #0099FF;}
	#main4 h2{	
		height: 10vh;
		line-height: 18vh;
		text-align: center;
		font-size: 40px;

		left: 700px;}
	#main4 h2 span{


		color: #0099FF;text-align: center;}
	#main4 p{
		font-size: 20px;
		color:#A5A5A5;text-align: center;}
	#content4{
		
		height: 400px;
		width:99vw;
		border:5px purple solid; }

	 #content4 img{
		float: left;
	 	position: relative;
	 	bottom: 0px;
	 	left: 150px;
	 	box-shadow: 0 0 15px #5CD9EF; 	
	 	border: 5px black solid;
	 	border-radius: 10%;
		width: 300px;
		height: 550px;


		}
	.E
	{
		font-size: 50px;
		font-family: "黑体";
	font-weight: bold;
		color:#5CD9EF; 	

	}
	.I{
		font-size: 50px;
	font-family: "黑体";
	font-weight: bold;
	color:#F999C5;
	}

	.one{position: relative;

		right: 150px;
		float: right;
		width: 200px;
		height: 100px;
		background: #FCDFAB;
		border: 5px black solid;
		border-radius:50% 50%;
	}

	.two{position: relative;
		top: 280px;
		right: 100px;
		float: right;
		width: 200px;
		height: 100px;
		background:#FCDFAB;
		border: 5px black solid;
	border-radius:50% 50%;}
	.three{position: relative;
		top: 150px;
		right: 50px;
		float: right;
		width:200px;
		height: 100px;
		background:#FCDFAB;
		border: 5px black solid;
	border-radius:50% 50%;}
	.four{position: relative;
		top: 20px;
		right: 50px;
		float:right;
		width: 240px;
		height: 100px;
		background:#FCDFAB;
		border: 5px black solid;
	border-radius:50% 50%;}
	.five{position: relative;
		top: 230px;
		right: 0;
		float:right;
		width: 200px;
		height: 100px;
		background:#FCDFAB;
		border: 5px black solid;
	border-radius:50% 50%;}
	.font{
		font-size: 40px;
		font-family: "黑体";
		height: 40px;
		line-height: 80px;
		text-align: center;
	}
 


	#container4{
			height: 100vh;
			width: 100vw;
			border: 5px #ACE0FC solid;
			background:url("images/background-lvyou.png");
			background-size:100%; 
			font-size: 16px;

			/*backdrop-filter: blur(50px);*/
		} 	
	#main5{

	height: 200px;
	width: 99vw;
	border: 5px pink solid;
	/*-webkit-filter:blur(1px);   背景虚化*/
	/*background: url("images/study-group.jpg") top right no-repeat,url("images/personality.jpg") top left no-repeat;*/
	backdrop-filter:10px;
	background-size: 300px 500px;}
	#main5 h3{color:#25D4D0;}
	#main5 p{}
	#words{
		width: 1200px;height: 500px;position: relative;
		top:250px;
		left: 100px;
		border:5px red solid;
		}
	#words h1{
		position: relative;
		height: 90px;
		line-height: 90px;
		text-align: left;
		font-size: 60px;
		font-family: "黑体";}
	#words span{color: #0099FF;	height: 90px;
		line-height: 90px;}
	#words h3{font-size: 30px;
		height: 60px;
		line-height: 60px;}
	#words p{font-size: 16px;
		height: 30px;
		line-height: 30px;}







	#footer{
		height: 5vh;
		width: 100vw;
	border: 5px black solid;
	clear:both;
	text-align: center;
	}

	/*
	所有盒子的边框设置*/
	#container{border:none;}
	#container2{border:none;}
	#container3{border:none;}
	#container4{border:none;}
    #main{border:none;}
    #main2{border:none;}
	#main3{border:none;}
	#main4{border:none;}
	#main5{border:none;}
	#title{border:none;}
	#title1{border:none;}
    #content{border:none;}
    #content1{border:none;}
	#content2{border:none;}
	#content3{border:none;}
	#content4{border:none;}
    #pic1 {border:none;}
    #pic2 {border:none;}
    #pic3 {border:none;}
    #pic4 {border:none;}
    #header{border:none;}
    #nav{border:none;}
    #words{border:none;}
	#temp1{border:none;}
